<div class="registro-container" >
  <form *ngIf="idGroupUser == 1 && roleUser == lstRoles[0] || idGroupUser != 1 && roleUser == lstRoles[1]" (ngSubmit)="registerr()" [ngSwitch]="roleUser">
      <div [ngSwitch]="roleUser">
        <h2 *ngSwitchCase="lstRoles[0]">Registro de Usuarios</h2>
        <h2 *ngSwitchCase="lstRoles[1]">Registrar prestamista al Grupo</h2>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="userRegisterReq.namesUser" [ngModelOptions]="{standalone: true}" required>
        <label for="apePat">Apellido paterno:</label>
        <input type="text" id="apePat" name="apePat" [(ngModel)]="userRegisterReq.lastnameP" [ngModelOptions]="{standalone: true}" required>
        <label for="apeMat">Apellido materno:</label>
        <input type="text" id="apeMat" name="apeMat" [(ngModel)]="userRegisterReq.lastnameM" [ngModelOptions]="{standalone: true}" required>
      </div>

      <div class="form-group">
        <label for="dirección">Dirección:</label>
        <input type="text" id="dirección" name="direccion" [(ngModel)]="userRegisterReq.address" [ngModelOptions]="{standalone: true}" required>
        <label for="celular">Celular:</label>
        <input type="text" id="celular" name="celular" [(ngModel)]="userRegisterReq.cellphone" [ngModelOptions]="{standalone: true}" required>
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" [(ngModel)]="userRegisterReq.email" [ngModelOptions]="{standalone: true}" required>
      </div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="userRegisterReq.userLogin" [ngModelOptions]="{standalone: true}" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" [(ngModel)]="userRegisterReq.passwordLogin" [ngModelOptions]="{standalone: true}" required>
        <label for="confirmPassword">Confirmar contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="userRegisterReq.confirmPasswordLogin" [ngModelOptions]="{standalone: true}" required>
      </div>

      <div class="form-group">
        <label for="dateBirth">Fecha de nacimiento:</label>
        <input type="date" id="dateBirth" name="dateBirth" [(ngModel)]="userRegisterReq.dateBirth" [ngModelOptions]="{standalone: true}" required>
        <label for="numberDoc">Número de documento:</label>
        <input type="number" id="numberDoc" name="numberDoc" [(ngModel)]="userRegisterReq.numberDoc" [ngModelOptions]="{standalone: true}" required>
        <label>Tipo de codumento: </label>
        <select [(ngModel)]="userRegisterReq.idDocType!.id" [ngModelOptions]="{standalone: true}">
            <option value="-1">Selecciona</option>
            <option *ngFor="let item of lstDoc" [value]="item.id">
                {{item.nameDocType}}
            </option>
        </select>
      </div>

      <div class="form-group" *ngSwitchCase="lstRoles[0]">
        <label>Grupo: </label>
        <select [(ngModel)]="userRegisterReq.idGroup!.id"  [ngModelOptions]="{standalone: true}">
            <option value="-1">Selecciona</option>
            <option *ngFor="let item of lstGroup" [value]="item.id">
                {{item.description}}
            </option>
        </select>
        <label>Rol: </label>
        <select [(ngModel)]="userRegisterReq.role"  [ngModelOptions]="{standalone: true}">
            <option value="-1">Selecciona</option>
            <option value="LENDER_BOSS">Jefe de prestamista</option>
            <option value="LENDER">Prestamista</option>
        </select>
      </div>
  
      <button type="submit">Registrar</button>
    </form>
    <div *ngIf="idGroupUser == 1 && roleUser == lstRoles[1]"><span>NO PERTENECES A NINGUN GRUPO, SOLICITA UNIRTE A UNO.</span></div>
  </div>
  