<div id="root" [ngClass]="{'root-login': isAuth, 'root': !isAuth}">
    <header class="header">
        <img src="../assets/img/logo.png" alt="Logotipo de la empresa" class="logo">
        <h1 class="title">El Ekeko Fast Cash</h1>
    </header>
    <nav class="nav-bar">
        <ul class="inLine p-m-b-0">
            <li class="p-m-b-0"><a href="#" class="nav-link">Inicio</a></li>
            <li class="p-m-b-0"><a href="#" class="nav-link">Acerca de nosotros</a></li>
            <li class="p-m-b-0"><a routerLink="/#" class="nav-link">Noticias</a></li>
            <li class="p-m-b-0"><a routerLink="/#" class="nav-link">Blog El Ekeko Fast Cash</a></li>
            <li class="p-m-b-0 link"><a (click)="logOut()" class="nav-link" *ngIf="isAuth">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <app-signin-user id="login" *ngIf="!isAuth; else options"></app-signin-user>
    <ng-template id="menu" #options>
        <div [ngSwitch]="roleUser">
            <div style="display: flex;justify-content: center;"><div style="margin-top: 15px;">{{nameUser}}</div></div>
            <div class="button-list" *ngSwitchCase="lstRoles[0]">
                <button class="button-item" (click)="loadComponent('InsertUser')">
                    <img src="../../../assets/img/add_user_64.png" alt="new">
                  </button>
                  <button class="button-item" (click)="loadComponent('UpdateUser')">
                    <img src="../../../assets/img/edit_user_64.png" alt="edit">
                  </button>
                  <button class="button-item" (click)="loadComponent('AdminLoanGroup')">
                    <img src="../../../assets/img/performance_64.png" alt="performance">
                  </button>
            </div>
            <div class="button-list" *ngSwitchCase="lstRoles[1]">
                <button class="button-item" (click)="loadComponent('InsertUser')">
                    <img src="../../../assets/img/add_user_to_team_64.png" alt="new">
                  </button>
                  <button class="button-item" (click)="loadComponent('UpdateUser')">
                    <img src="../../../assets/img/edit_user_from_team_64.png" alt="edit">
                  </button>
                  <button class="button-item" (click)="loadComponent('LoanGroup')">
                    <img src="../../../assets/img/quota_64.png" alt="quota">
                  </button>
            </div>
            <div class="button-list" *ngSwitchCase="lstRoles[2]">
                 <button class="button-item" (click)="loadComponent('ReadRequestLoan')">
                    <img src="../../../assets/img/approve_64.png" alt="new">
                  </button>
                  <button class="button-item" (click)="loadComponent('InsertPay')">
                    <img src="../../../assets/img/pay_64.png" alt="new_pay">
                  </button>
                  
            </div>
            <div class="button-list" *ngSwitchCase="lstRoles[3]">
                <button class="button-item" (click)="loadComponent('InsertRequestLoan')">
                    <img src="../../../assets/img/add_request_loan_64.png" alt="new">
                </button>
                <button class="button-item" (click)="loadComponent('ReadLoan')">
                    <img src="../../../assets/img/review_loan_64.png" alt="read">
                </button>
            </div>
        </div>
    </ng-template>
    <aside id="aside">
        <img src="../../../assets/img/advertising.jpg" alt="advertising" *ngIf="!isAuth; else asideLogin">
        <ng-template #asideLogin>
            <ng-container #dynamicComponentOutlet>

            </ng-container>
        </ng-template>
    </aside>
    <footer>
        Copyright©2023 Grupo 5 Cibertec
    </footer>
</div>