<div id="root">
    <header class="header">
        <img src="../assets/img/logo.png" alt="Logotipo de la empresa" class="logo">
        <h1 class="title">El Ekeko Fast Cash</h1>
        
    </header>
    <nav class="nav-bar">
        <ul class="inLine p-m-b-0">
            <li class="p-m-b-0"><a href="#" class="nav-link">Inicio</a></li>
            <li class="p-m-b-0"><a href="#" class="nav-link">Acerca de</a></li>
            <li class="p-m-b-0"><a routerLink="/showInsertLenderBoss" class="nav-link">Agregar Jefe de Pestamista</a></li>
            <li class="p-m-b-0"><a routerLink="/showUpdateLenderBoss" class="nav-link">Actualizar Jefe de Pretamista</a></li>
            <li class="p-m-b-0"><a routerLink="/showSignin" class="nav-link">Ingresar al sistema</a></li>
        </ul>
    </nav>
    <app-signin-user id="login"></app-signin-user>
    <aside id="">dsdsds</aside>
    <footer>
        afsdfsdfgsf
    </footer>
</div>