.registro-container {
    display: flex;
    max-width:100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: var(--terciary-c);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .custom-table tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .state-approve{
    color: green;
    /* color: #fff; */
    font-weight: bold;
  }
  .state-cancelled{
    color: red;
    /* color: #fff; */
    font-weight: bold;
  }
  .state-pending{
    color: blue;
    /* color: #fff; */
    font-weight: bold;
  }

  .my-pagination ::ng-deep .ngx-pagination .current {
    background: var(--terciary-c);
  }