@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-c: #1d2b05;
  --secondary-c: #628f12;
  --terciary-c: #7ab317;
  --green-l-c: #a0c55f;
  --green-sl-c: #d0e2af;
  --blue-b-c: #0b2e59;
  --purple-c: #2a044a;
}

body {
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.p-m-b-0 {
  padding: 0px;
  margin: 0px;
  border: 0px;
}