.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
    background: #f2f2f2;
    width: 100%;
  }
  
  .login-box {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button {
    width: 97%;
    padding: 10px;
    background: var(--terciary-c);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: var(--primary-c);
  }
  