<div class="login-container">
    <div class="login-box" *ngIf="!isAuthenticate; else alreadyAuth">
      <h2>Iniciar Sesión</h2>
      <form>
        <div class="input-group">
          <input type="text" id="username" name="username" placeholder="Nombre de Usuario" [(ngModel)]="userSignInRequest.userLogin" [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="Contraseña" [(ngModel)]="userSignInRequest.passwordLogin" [ngModelOptions]="{standalone: true}" required>
        </div>
        <button type="submit" (click)="signInn()">Ingresar</button>
      </form>
    </div>
    <ng-template #alreadyAuth>
      <div>
        <p>ALREADY AUTH</p>
      </div>
    </ng-template>
  </div>
  